{% if host['data']['bgp'] is defined %}
{% for bgp_item in host['data']['bgp'] %}
router bgp {{ bgp_item['asn'] }}
address-family ipv4 vrf {{ bgp_item['vrf_name'] }}
redistribute connected
exit-address-family
{% endfor %}
{% endif %}